<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>diego gay de oliveira</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consequuntur totam nam eaque omnis earum molestias optio harum voluptate commodi veniam accusamus, esse quam, tenetur alias ducimus vero! Rem, ullam.</p>
        <img src="" alt="">
    </div>
</body>
</html>